@(startForm: Form[Start])
@import helper._
@import helper.twitterBootstrap._
<body style="background-color:#EEAA1F;">

	<div class="wrapper">
		<div class="left"></div>
		<div class="center"><span>
			<center><img src="@routes.Assets.at("images/HolmesMotorsLogo.png")"/></center>
			<h1><center>Start the Holmes Motors Buy Now Application</center></h1>
			@helper.form(action = routes.BuyNowMain.newBuyNowForm()) {
			<center><button type="submit" name="submitButton" class="btn btn-primary" value="StartHere">Start Here</button></center>
		</span></div>
   		<div class="right"></div>
	</div>


}
   
   
</body>